@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1{
  font-weight: 600;
  font-size: larger;
  font-style: oblique;
}

@media screen and (max-width:1536px) {
  .container{
    max-width: 1366px;
  }
}

@media screen and (max-width:1280px) {
  .container{
    max-width: 1024px;
  }
}

@media screen and (max-width:1024px) {
  .container{
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width:769px) {
  .container{
    max-width: 475px;
  }
}